.multiple-select{
  width: 300px;
  height: 34px;
  margin: 50px auto;
  .select-wrap{
    position: relative;
    width: 100%;
    padding: 5px 5px 0;
    line-height: 24px;
    text-align: left;
    border: 1px solid #eee;
    background: #fff;
    color:#666;
    font-size: 14px;
    cursor: pointer;
    display: flex;
  }
  .options-wrap{
    position: absolute;
    z-index: 100;
    min-width: 100px;
    background: #fff;
    max-height: 272px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: none;
    &.show{
      display: block;
    }
  }
  .option{
    padding: 5px 0;
    &:hover{
      background: #eee;
    }
    &.active{
      color: blue;
    }
  }
  .input{
    height: 100%;
    cursor: pointer;
  }
  .tags-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  .tag-item{
    display: flex;
    width: 90px;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-size: 12px;
    margin-right: 8px;
    background: #f1f1f1;
    border: 1px solid #c1c0c0;
    border-radius: 3px;
    margin-bottom: 5px;
    .title{
      max-width: 70px;
      margin-right: 5px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .clear{
      
    }
  }
}