$color: #3aa2f8;
.multiple-select{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  .select-wrap{
    position: relative;
    width: 100%;
    line-height: 24px;
    padding: 6px 5px 0;
    text-align: left;
    border: 1px solid #eee;
    background: #fff;
    color:#666;
    font-size: 14px;
    cursor: pointer;
    &.click{
      border-color: $color;
    }
    &.has-tags{
      &:hover{
        .down{
          display: none;
        }
        .del{
          display: block;
        }
      }
    }
    
    .down,.del{
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .del{
      font-size: 20px;
      width: 20px;
      height: 20px;
      line-height: 18px;
      text-align: center;
      border-radius: 50%;
      color: #fff;
      background: #333;
      display: none;
    }
    .down{
      font-size: 16px;
    }
    .title{
      position: absolute;
      top: 8px;
    }
  }
  
  .input{
    height: 33px;
    width: 10px;
    cursor: pointer;
    caret-color:$color;
  }
  .tags-wrap{
    display: flex;
    flex-wrap: wrap;
    .title{
      position: static;
    }
  }
  .tag-item, .tag-more{
    display: flex;
    height: 24px;
    line-height: 34px;
    padding: 0 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-size: 12px;
    margin-right: 8px;
    background: #f1f1f1;
    border: 1px solid #c1c0c0;
    border-radius: 3px;
    margin-bottom: 5px;
    .title{
      max-width: 70px;
      margin-right: 5px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .clear{
      padding: 3px;
      font-size: 20px;
    }
  }
  .tag-more{
    width: auto;
  }
}
.options-wrap{
  // position: absolute;
  // z-index: 100;
  min-width: 100px;
  background: #fff;
  padding: 8px 0;
  box-sizing: border-box;
  max-height: 272px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  display: none;
  &.show{
    display: block;
  }
  .option{
    padding: 5px 0;
    &:hover{
      background: #eee;
    }
    &.active{
      color: $color;
    }
  }
}